.about {
    
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50rem,1fr));
    grid-gap: 3rem;
    background-color: $color-dark;
   z-index: 40;
    position: relative;
    
     @include responsive($bp-390) {
             padding-bottom: 5rem;
        }
    
    

        
    
    
    &__heading {
        text-align: center;
        grid-column: 1/-1;
        grid-row: 1/2;
        color: $color-white;
        
   
         @include responsive($bp-1024) {
            font-size: 8rem;
        }
      
      
        @include responsive($bp-9) {
            font-size: 7.4rem;
        }
         @include respond(tab) {
            font-size: 5.5rem;
        }
   
        
        @include responsive($bp-480) {
            margin-left: -2rem;
        }
        
        @include respond(samsung-10) {
        font-size: 4.2rem;
             margin-left: -15rem;
    }
        
          @include responsive($bp-390) {
            font-size: 4.8rem;
              margin-left: -15rem;
        }
        
         @include respond(iphone-8) {
            font-size: 3.9rem;
    }
        
         @include respond(samsung-9) {
            font-size: 3.7rem;
    }
        
       
        
         @include responsive($bp-320) {
            font-size: 6.5rem;
             margin-left: -20rem;
        }

    }
    
    &__gallary {
       
        margin-top: 8rem;
   
         @include responsive($bp-9) {
            display:flex;
        }
        
        @include responsive($bp-768) {
            transform: translateX(-7rem);
        }
        
        @include responsive($bp-640) {
         
          transform: translateX(-10rem);
       
        }
        

        
        @include responsive($bp-6) {
           transform: translateX(-12.5rem);
        }
       
        

        img {
            width: 55rem;
            height: 70rem;
            display: block;
            object-fit: cover;
            filter: brightness(70%) ;
             transition: all 0.3s;
            box-shadow: 0 1rem 1rem rgba($color-white,.1);
            border-radius: 5rem;
           
            
            &:hover {
               z-index: 20;
                position: relative;
               filter: brightness(100%);
                 
               
            } 
        }
        
    }
    
   
    &__paragraph {
        
         @include responsive($bp-480) {
            width: 30rem;
        }
        
    }
    
    &__title {
       
        margin-bottom: 2rem;
        color: $color-primary-dark;
        
         @include responsive($bp-12) {
          margin-top: 2rem;
        }
       
        
        @include responsive($bp-9) {
           margin-top: 3rem;
        }
        
         @include responsive($bp-480) {
            font-size: 3.3rem;
              padding-top: -3rem;
        }
        
          @include respond(samsung-10) {
            font-size: 2.8rem;
    }
    
        
        
         @include responsive($bp-320) {
            font-size: 3rem;
        }
        
    }
    
    &__text {
        font-size: 2.3rem;
        font-weight: 400;
        color: $color-white !important;
        
         @include responsive($bp-768) {
            font-size: 2.1rem;
        }
        
        @include responsive($bp-5) {
          width: 45rem;
        }
        
        
        
         @include responsive($bp-480) {
            font-size: 2.4rem;
             width: 38rem;
             
        }
        
        
        @include respond(samsung-10) {
            width: 35rem;
    }
        
         @include responsive($bp-390) {
             font-size: 2rem;
             width: 33rem;
        }
        
        
          @include respond(samsung-9) {
            width: 32rem;
    }
         
        
         @include responsive($bp-320) {
            width: 28rem;
             
        }
        
        
        
        
    }
}