*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html,body {
    font-size: 62.5%;        // 1px = 10rem
    width: 100%;             // to avoid x-scroll and white spaces
    height: 100%;            // to avoid x-scroll and white spaces
    overflow-x: hidden;      // to avoid x-scroll and white spaces
   
     @include respond(samsung-10) {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
}

.container {
    font-family: $font-text;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.7;
    color: $color-gray-wr;
    box-sizing: border-box;
    text-decoration: none;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90vh repeat(5,min-content);
    
    @include responsive($bp-480) {
        grid-template-columns: 48rem;
        
    }
    
     @include responsive($bp-390) {
           grid-template-columns: 39rem;
        }
    
     
    @include responsive($bp-320) {
        grid-template-columns: 32rem;
        
        
    }
    
    
    
    
    
}