.blog {
    
    width: 70%;
    height: auto;
    margin: 0 15% 0 15%;
    transform: translateY(-10rem);
    margin-bottom: -10rem;
    
    &__body {
        background-color: $color-gray-bg;
    }
    
   
}

.article {
    
    padding: 8rem 5rem 0 5rem;
    background-color: white;
    
    &__title {
        color: $color-dark;
        font-weight: 400;
        
    }
    
    &__paragraph {
        font-size: 2.2rem;
        font-family: $font-text;
        font-weight: 300;
        line-height: 1.7;
        letter-spacing: 1.7;
        
        
    }
    
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
        justify-content: center;
            
        
    }
    
    &__space {
        padding-bottom: 5rem;
    }
    
    &__icon {
        transform: translateY(7px);
        fill:$color-primary-dark;
    }
}