.blogs {
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 3rem;
   
    background-image: linear-gradient(to right,rgba($color-secondary-dark,.4),rgba($color-secondary,.2));
    
    padding: 3% 10%;
    
    @include responsive($bp-12) {
            padding: 3% 6%;
        }
    
     @include responsive($bp-1024) {
            padding: 3% 2%;
        }
    
   
    
    @include responsive($bp-8) {
           padding: 2% 8%;
        }
    
     @include responsive($bp-7) {
             padding: 2% 5%;
        }
      @include responsive($bp-390) {
             padding: 2% 0%;
        }
    
    @include responsive($bp-640) {
              grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
      
        }
   
    
     @include responsive($bp-6) {
              grid-template-columns: repeat(auto-fit,minmax(25rem,30rem));
        }
    
    @include responsive($bp-5) {
              grid-template-columns: repeat(auto-fit,minmax(25rem,30rem));
        }
    
     @include responsive($bp-390) {
         
           padding-bottom: 5rem;
       
        }
   
   
    
   
    
    &__heading {
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 0 auto;
        font-weight: 100;
        
        @include responsive($bp-12) {
            font-size: 9rem;
        }
      
        @include responsive($bp-10) {
            font-size: 8rem;
        }
        @include responsive($bp-9) {
            font-size: 7.4rem;
        }
        
         @include respond(tab) {
            font-size: 5.5rem;
        }
   
        
        @include responsive($bp-6) {
            font-size: 5.5rem;
        }
        
        @include responsive($bp-480) {
            font-size: 5.3rem;
            margin-left: 9rem;
        }
        
         @include respond(samsung-10) {
        font-size: 4.2rem;
    }
        
         @include responsive($bp-390) {
            font-size: 4.8rem;
        }
        
         @include respond(iphone-8) {
            font-size: 3.9rem;
    }
        
         @include respond(samsung-9) {
            font-size: 3.7rem;
    }
        
         @include responsive($bp-320) {
           font-size: 4.5rem;
             margin-left: 5rem;
        }

        
    }
    
    
    &__blog {
        width: 30rem;
        height: 50rem;
        background-color: #fff;
        box-shadow: 0 3rem 4rem rgba($color-dark, .25);
        transition: all .3s;
        display: flex;
        flex-direction: column;
         border-top-left-radius: 3px;
         border-top-right-radius: 3px;
       
        
        
        
        &:hover {
            border-bottom: 3px solid $color-primary;
        }
        
        @include responsive($bp-9) {
            width: 27rem;
        }
        
        @include responsive($bp-8) {
           width: 30rem;
        }
        
         
     @include responsive($bp-640) {
         
         width: 40rem;
         align-self: flex-end;
         margin-left: 8rem;
       
        }
        
        @include responsive($bp-480) {
         
            width: 38rem;
            margin-left: 2rem;
       
        }
        
        @include respond(samsung-10) {
         width: 35rem;
            margin-left: 0rem;
       
    }
        
        @include responsive($bp-390) {
         
            width: 30rem;
            margin-left: 4rem;
       
        }
        
         @include respond(iphone-8) {
             width: 29rem;
             margin-left: 3.5rem;
    }
        
         @include respond(samsung-9) {
            width: 29rem;
             margin-left: 2.5rem;
    }
        
         
        
         @include responsive($bp-320) {
            width: 27rem;
             margin-left: -2px;
             
            
        }

        
        
        
    }
    
    &__image {
        height: 20rem;
        width: 100%;
        height: auto;
       
        
        
        
        img {
            display: block;
            max-width: 100%;
            overflow: hidden;
             border-top-left-radius: 3px;
             border-top-right-radius: 3px;
           
        }
        
         img:hover {
            filter: blur(1px);
        }
        
    }
 
    
    &__title {
        line-height: 1.4;
        padding: 2rem;
        font-size: 2.6rem;
        
        @include respond(samsung-10) {
            font-size: 2.3rem;
        }
        
        a {
            text-decoration: none;
            color: $color-dark;
        }
        
        a:hover {
            color: $color-primary-dark;
        }
        
    }
    
    &__text {
        color: $color-gray-wr;
        font-size: 2rem;
        padding:0 2rem; 
       
         
        @include respond(samsung-10) {
            font-size: 1.8rem;
        }
        
    }
    
    &__related {
        margin-top: auto;
        padding: 2rem;
        
    }
    
    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1rem;
        fill:$color-gray-wr;
    }
}