.features {
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 6rem;
    background-color: $color-gray-bg;
    
     @include responsive($bp-5) {
            grid-template-columns: repeat(auto-fit,minmax(25rem,40rem));
        }
     @include respond(samsung-10) {
        grid-template-columns: repeat(auto-fit,minmax(25rem,35rem));
        padding: 3% 3%;
    }
    
    
     @include responsive($bp-390) {
             padding-bottom: 5rem;
        }
    
         
        @include respond(iphone-8) {
             grid-template-columns: repeat(auto-fit,minmax(25rem,35rem));
    }
    
     @include respond(samsung-9) {
        grid-template-columns: repeat(auto-fit,minmax(25rem,33rem));
    }
    
    
    .feature {
        display: flex;
        flex-direction: column;
        
        &__heading {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin: 0 auto;
            
            @include responsive($bp-12) {
            font-size: 4.9rem;
        }
             @include responsive($bp-1024) {
            font-size: 4.8rem;
        }
      
   
        @include responsive($bp-9) {
            font-size: 4.6rem;
        }
            
            @include respond(tab) {
            font-size: 5.5rem;
        }
   
            
             @include responsive($bp-7) {
            font-size: 6rem;
        }
            
             @include responsive($bp-6) {
            font-size: 5.5rem;
        }
            
            
         @include responsive($bp-480) {
            font-size: 5.3rem;
        }
            
          
       @include respond(samsung-10) {
        font-size: 4rem;
    }
            
        @include respond(iphone-8) {
            font-size: 3.9rem;
    }
    
     @include respond(samsung-9) {
        font-size: 3.7rem;
         margin-left: -3px;
    }
            
         @include responsive($bp-320) {
           font-size: 3.6rem;
        }

       
        }
        
        &__subtitle {
            grid-column: 1/-1;
            grid-row: 2/3; 
            justify-self:center;
            align-self: flex-start;
            width: 50%;
            text-align: center;
            
               @include responsive($bp-640) {
                width: 70%;
        }
            
            @include responsive($bp-480) {
                width: 70%;
        }
            
             @include responsive($bp-320) {
                width: 95%;
                 font-size: 1.7rem;
        }

            
        }
       
        
        &__icon {
        
            height: 6rem;
            width: 6rem;
            fill:$color-primary-dark;
            align-self: center;
            
           
        }
        
        &__bg {
            height: 9rem;
            width: 9rem;
            align-self: center;
            background-color: rgba($color-secondary,.2);
            border-radius: 50%;
            margin-bottom: 2rem;
        }
        
        &__title {
            margin: 0 auto;
            transition: all .2s;
            
            &:hover {
                transform: scale(1.2);
            }
            
            a {
                text-decoration: none;
                color: $color-secondary-dark;
                
                
            }
            
            
        }
        
        &__text {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
            
            @include responsive($bp-10) {
            font-weight: 600;
        }
            
            @include responsive($bp-768) {
         
                font-size:1.9rem;
     
        }
            
            
        }
        
    }
}