h1 {
    font-family: $font-title;
    font-weight: 100;
    font-size: 9rem;
    line-height: 1.7;
    color: $color-dark;
    word-spacing: 1.7;
    letter-spacing: 2;
    
}

h2 {
    font-family: $font-title;
    font-size: 6rem;
    font-weight:normal;
    line-height: 1.7;
    letter-spacing: 1.7;
    text-transform: uppercase;
    
     
    
}

h3 {
   font-family: $font-text;
    font-weight: 300;
    font-style: italic;
    font-size: 2.9rem;
    line-height: 1.7;
    letter-spacing: 1.7;
   
    
}

h4 {
   font-family: $font-text;
    font-weight: 600;
    font-style: italic;
    font-size: 3rem;
    line-height: 1.7;
    letter-spacing: 1.7;
   
    
}

h5 {
    display:inline;
    font-family: $font-text;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 1.7;
    
}
