$color-primary:#FFB400;
$color-primary-dark:#cc8f00;
$color-primary-light:#ffc233;

$color-secondary:#017E80;
$color-secondary-dark:#014a4c;
$color-secondary-light:	 #02c7ca;

$color-white:#E2E0DB;
$color-dark:#160A03;

$color-gray-bg:#F0F0F0;
$color-gray-wr:#666666;

$font-title:'Economica', sans-serif;
$font-text:'Yantramanav', sans-serif;

$bp-12:75em;              // em = 1200px/16px
$bp-11:68.75em;
$bp-10:62.5em;
$bp-9:56.25em;
$bp-8:50em;
$bp-7:43.75em;
$bp-6:37.5em;
$bp-5:31.25em;
$bp-4:25em;
$bp-1024:64em;
$bp-768:48em;
$bp-640:40em;
$bp-480:30em;
$bp-320:20em;
$bp-390:24.37em;

