# mod_rewrite starts here

RewriteEngine On

# does not apply existing directories, meaning that if the folder exists on the server then do not change anything and do not run the rule

RewriteCond %{REQUEST_FILENAME} !-f

#check for file in directory with .html extension



#here are actually show the page that has the .html extension

RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]



RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]